<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>    
    <script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
    <title>Python Flask Hello World</title>
</head>
<body>
    <h1>Server response</h1>
    <ul>
        {% for num in response %}
            <li>{{ num }}</li>
        {% endfor %}
    </ul>
</body>
</html>