<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>    
    <script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
    <title>Python Flask Hello World</title>
</head>
<body>
    <h1>Server response: the fruit you picked is</h1>
    <ul>
        {% for fruit in response %}
            <li>{{ fruit[1] }}</li>
        {% endfor %}
    </ul>
    <h2>Input the fruit</h2>
    <input class="fruitInput" placeholder="fruit name">
</body>
</html>